body {
  background-color: #0e0e0e;
  width: 99%;
  height: 100%;
}

.MainFrame {
  position: fixed;
  top: 0%;
  left: 0%;
}

.Logo {
  position: fixed;
  top: calc(50vh - 64px);
  left: calc(50vw - 66px);
}

.Left-Nav {
  width: 32px;
  height: 32px;
  background-color: #B388FF;
  padding: none;
  margin: 0;
}
